// ===================
// Tufte-CSS overrides
// ===================

.marginnote > p,
// MainColumn caption font size fix
figcaption > span > p {
  width: 100%;
  font-size: 1rem;
  line-height: 1.3; // Was 1.96; //changed to bring line heights into rational pattern
  margin-top: 0;
}

/*
  Have to wrap components that *were* wrapped in <p> in tufte-css in .paragraph
  because React doesn't allow for <p> nested within <p>, and thats how MDX works
  in order for a component to accept markdown formatted text as {children}
 */
.paragraph {
  display: block;
  width: 55%;
  line-height: 2rem;
  margin-top: 1.4rem;
  padding-right: 2rem;
  vertical-align: baseline;
}

