//
// Variables
// -------------------

$text-color: #111111;
$form-bg: #F0F0EB;
$btn-bg: #E6E6DF;
$form-active-color: #82C1B3;

$font-size-sm: 12px;

$mobile-breakpoint-max: 760px;
$desktop-breakpoint-min: $mobile-breakpoint-max + 1;
